* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-padding: 20px;
  --main-marging: 30px;
  --main-transition: 0.5s;
  --main-btn-raduis: 10px;
  --main-raduis: 20px;

  --gradiant-pink: #e100ff;
  --gradiant-maj: #7146ff;
  --gradiant-blue: #008cff;

  --theme-bg-color: #f8f9fa;
  --primary-color: #254565;
  --secondary-color: #78b5f2;
  --accent-color: #f2738a;

  --gray-color: #6c757d;
  --white-color: #ebf2f9;
  --black-color: #060d14;
  --white-shade: #f0f5f9;
}
body {
  background-color: var(--theme-bg-color);
  font-family: 'Roboto', serif;
}

@keyframes scroll {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0);
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.btn {
  width: 130px;
  height: 45px;
  border: none;
  border-radius: var(--main-btn-raduis);
  text-align: center;
}
.btn:nth-last-of-type(odd) {
  background-color: var(--primary-color);
}
.btn:nth-last-of-type(odd) a {
  color: var(--white-color);
}
.btn:nth-last-of-type(even) {
  background-color: var(--secondary-color);
}
.btn:nth-last-of-type(even) a {
  color: var(--black-color);
}
.btn-gradiant {
  position: relative;
  background-color: var(--theme-bg-color);
}
.btn-gradiant::before {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 4px);
  border-radius: var(--main-btn-raduis);
  background: linear-gradient(
    to right,
    var(--gradiant-blue),
    var(--gradiant-pink)
  );
  transition: var(--main-transition);
  z-index: -1;
}
.btn > a {
  font-size: 18px;
  text-transform: capitalize;
  color: var(--white-color);
  display: block;
  width: 100%;
  line-height: 45px;
}
.btn-gradiant:hover {
  background: linear-gradient(
    to right,
    var(--gradiant-blue),
    var(--gradiant-pink)
  );
}
.btn-gradiant:hover a {
  color: #f8f9fa;
}
.box {
  box-shadow: 0 0 4px 0px var(--primary-color);
  border-radius: var(--main-raduis);
}
.text-gradiant {
  background: linear-gradient(
    to right,
    var(--gradiant-blue),
    var(--gradiant-maj),
    var(--gradiant-pink),
    var(--gradiant-maj),
    var(--gradiant-blue)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: gradiant-text;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: fit-content;
}
.text-shine {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color),
    #ffffff,
    var(--primary-color),
    var(--primary-color)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: gradiant-text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes gradiant-text {
  to {
    background-position: 200%;
  }
}
.border-gradiant {
  position: relative;
  border-radius: var(--main-raduis);
  background-color: #ffffff;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.border-gradiant::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 3px;
  background-image: conic-gradient(
    from var(--angle),
    var(--gradiant-blue) 50%,
    var(--gradiant-pink)
  );
  border-radius: var(--main-raduis);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
/***************End Of Global Variables & Cool Animations****************************/
.scroll-Up {
  position: fixed;
  bottom: 10px;
  right: 80px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 26px;
  transition: var(--main-transition);
}
.scroll-Up:hover {
  transform: translateY(-2px);
  color: var(--accent-color);
}
header {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 50px repeat(12, 1fr);
  grid-template-areas: 'logo . . links links links links links links links .  icons icons icons';
  padding: 0 40px;
  align-items: center;
  position: relative;
  z-index: 100;
}
.logo {
  color: var(--primary-color);
  font-size: 40px;
  grid-area: logo;
}
nav {
  grid-area: links;
}
nav > ul,
header .icons {
  display: flex;
  justify-content: space-evenly;
}
header .icons {
  grid-area: icons;
}
header .icons li {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 40px;
  height: 40px;
  border-radius: 50%;

}
header > nav > ul > li > a,
header > ul > li > a {
  color: var(--black-color);
  font-size: 18px;
  transition: var(--main-transition);
}
header > nav > ul > li {
  position: relative;
  text-align: center;
  padding: 10px;
}

header > nav > ul > li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  transition: var(--main-transition);
  border: 1px solid transparent;
  z-index: -1;
  border-radius: 5px;
}
header ul > li:hover > a {
  color: var(--secondary-color);
}
header > nav > ul > li:hover::after {
  width: 100%;
  border-color: var(--secondary-color) transparent var(--secondary-color);
}
header > nav > ul > li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  border: 1px solid transparent;
  transition: var(--main-transition);
  z-index: -1;
  border-radius: 5px;
}
header > nav > ul > li:hover::before {
  height: 100%;
  border-color: transparent var(--secondary-color) transparent
    var(--secondary-color);
}
header > nav > ul > li.pages {
  position: relative;
}
header > nav > ul > li.pages .menu {
  position: absolute;
  bottom: -300px;
  left: 50%;
  margin-left: calc(-370px / 2);
  width: 370px;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  scale: 0;
  transition: var(--main-transition);
  background-color: var(--theme-bg-color);
}
header > nav > ul > li.pages:hover .menu {
  scale: 1;
}
header > nav > ul > li.pages .menu ul {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 10px;
}
header > nav > ul > li.pages .menu ul li {
  width: fit-content;
  height: fit-content;
  text-align: left;
  transition: var(--main-transition);
  padding-left: 2px;
}
header > nav > ul > li.pages .menu ul h2 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 4px dotted var(--accent-color);
  color: var(--primary-color);
  margin-bottom: 20px;
}

header > nav > ul > li.pages .menu ul li:hover {
  padding: 0;
}
header > nav > ul > li.pages .menu ul a {
  color: var(--black-color);
  transition: var(--main-transition);
  font-size: 16px;
  transition: var(--main-transition);
  
}
header > nav > ul > li.pages .menu ul a:hover {
  color: var(--accent-color);
  letter-spacing: 1px;
}
header > nav > ul > li.pages .menu ul li {
  margin-bottom: 20px;
}
header .icons li:last-of-type {
  position: relative;
}
header .icons li:last-of-type::after {
  content: '2';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: var(--main-transition);
  transform: translate(-50%,-3px);
}
header .icons li:last-of-type:hover::after {
  transform: translate(-50%,-5px);
}
/******************************************************/
.sub-header {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.sub-header h2 {
  font-size: 20px;
  color: var(--white-color);
  width: fit-content;
}
.sub-header a {
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
  width: 100px;
  transition: var(--main-transition);
  color: var(--accent-color);
}
.sub-header a:hover {
  letter-spacing: 2px;
}
/************************************************/
main {
  width: 100%;
  height: calc(100vh - 70px - 40px);
  display: flex;
  padding-left: 100px;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../images/bg.png);
  background-position: right 10% bottom;
  background-repeat: no-repeat;
  background-size: 41%;
  position: relative;
  box-shadow: 0 0 4px 0px var(--primary-color);
  border-radius: 0 0 5px 5px;
}

main .scroll h6 {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: rotateZ(-90deg);
  text-transform: lowercase;
  font-size: 20px;
  color: var(--primary-color);
}
main .scroll .scroll-animated {
  position: absolute;
  right: 0px;
  top: 60%;
  width: 45px;
  transform: translate(-28px, 0);
  height: 70px;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
}
main .scroll .scroll-animated .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  animation-name: move-down;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move-down {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  30% {
    transform: translate(-50%, 40px);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, 40px);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, 40px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 40px);
    opacity: 0;
  }
}
main .text {
  transform: translateY(-100px);
}
main .text h1 {
  font-size: 60px;
  -webkit-text-stroke: 1px var(--primary-color);
  -webkit-text-fill-color: var(--theme-bg-color);
  font-weight: 1000;
  margin-bottom: 10px;
  font-family: 'Inter', serif;
}
main .text h2 {
  font-size: 30px;
  font-family: 'Inter', serif;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 20px;
}
main .text p {
  width: 550px;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 20px;
}
main .text .btn {
  transition: var(--main-transition);
}
main .text .btn:hover {
  transform: translateY(-2px);
  background-color: var(--accent-color);
}
main .text .btn:hover a {
  color: var(--black-color);
}
/**********************************************/
.collection {
  width: 100%;
  height: 40vh;
  background-color: var(--theme-bg-color);
  text-align: center;
  padding: 20px 0;
}
.collection h2 {
  color: var(--primary-color);
  font-size: 40px;
  margin-bottom: 20px;
}
.collection .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100% - 60px);
  gap: 20px;
}
.collection .container > .card {
  width: 33%;
  height: 100%;
  min-width: 200px;
  overflow: hidden;
  border-radius: var(--main-raduis);
  position: relative;
  background-color: #c3d2e246;
}
.collection .container > .card .image {
  border-radius: var(--main-raduis);
  background-size: cover;
  scale: 1;
  background-position: center;
  width: 100%;
  margin: auto;
  height: 100%;
  transition: var(--main-transition);

}
.collection .container > .card:hover .image {
  scale: 1.1;
}
.collection .container > .card:first-child .image {
  background-image: url(../images/men.jpg);
}
.collection .container > .card:nth-last-of-type(2) .image {
  background-image: url(../images/women.jpg);
}

.collection .container > .card:nth-last-of-type(1) .image {
  background-image: url(../images/kids.jpg);
}
.collection .container > .card .text {
  z-index: 10;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: var(--main-transition);
}
.collection .container > .card .text h3 {
  font-size: 21px;
  font-weight: 1000;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10px;
  color: #567797;
}

.collection .container > .card .text a {
  font-family: 'Inter', serif;
  color: var(--accent-color);
  font-size: 20px;
  letter-spacing: 1px;
}
.collection .container > .card:hover .text {
  transform: translate(-50%, -26px);
}
/*********************************************/
.trend {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
}
.trend > .text {
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.trend .text h2 {
  width: 70%;
  color: var(--primary-color);
}
.trend .text ul {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.trend .text ul li a {
  color: var(--primary-color);
  font-size: 20px;
}
.trend .text ul li:first-of-type a {
  color: var(--secondary-color);
}
.trend .text ul li:first-of-type {
  position: relative;
  width: fit-content;
}
.trend .text ul li:first-of-type::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  height: 4px;
  width: 100%;
  background-color: var(--secondary-color);
}
.trend .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(100% - 120px);
  position: relative;
}
.trend .fa-chevron-right {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--secondary-color);
  transition: var(--main-transition);
}
.trend .fa-chevron-left {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(50%, -50%);
  font-size: 30px;
  color: var(--secondary-color);
  transition: var(--main-transition);
}
.trend .fa-chevron-right:hover,
.trend .fa-chevron-left:hover {
  color: var(--primary-color);
}
.trend .container > .card {
  width: 24%;
  height: 100%;
}
.trend .container > .card:hover .image {
  transform: rotateY(-180deg);
}
.trend .container > .card .image-container {
  width: 100%;
  height: 75%;
  background-position: center;
  /* margin-bottom: -4px; */
  background-size: cover;
  border-radius: var(--main-raduis) var(--main-raduis) 0 0;
}
.trend .container > .card .image {
  width: 100%;
  height: 100%;
  position: relative;
  transition: var(--main-transition);
  transform-style: preserve-3d;
}
.trend .container > .card .face,
.trend .container > .card .back {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-position: center;
  background-size: cover;
  backface-visibility: hidden;
  border-radius: var(--main-raduis) var(--main-raduis) 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.trend .container > .card .items {
  position: absolute;
  display: flex;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #ffffff;
  width: 60%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  transition: var(--main-transition);
  opacity: 0;
}
.trend .container > .card .items li a {
  color: var(--gray-color);
  font-size: 25px;
  line-height: 50px;
}
.trend .container > .card:hover .items {
  transform: translate(-50%, -80px);
  opacity: 1;
}
.trend .container > .card .items li {
  width: calc(100% / 3);
  text-align: center;
}
.trend .container > .card .items li:nth-child(1) {
  border-radius: var(--main-raduis) 0 0 var(--main-raduis);
}
.trend .container > .card .items li:nth-child(2) {
  border-radius: 0;
}
.trend .container > .card .items li:nth-child(3) {
  border-radius: 0 var(--main-raduis) var(--main-raduis) 0;
}

.trend .container > .card .items li:hover {
  background-color: #e7e7e7;
}
.trend .container > .card .items li:hover a {
  color: var(--primary-color);
  display: block;
}
.trend .container > .card > .text {
  all: unset;
  width: 100%;
  height: 25%;
  border-radius: 0 0 var(--main-raduis) var(--main-raduis);
  background-color: var(--white-shade);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trend .container > .card > .text h3 {
  font-size: 21px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--primary-color);
  transition: var(--main-transition);
}
.trend .container > .card:hover > .text h3 {
  color: var(--gradiant-blue);
}
.trend .container > .card > .text p {
  font-size: 18px;
  font-weight: 400;
  color: #28a745;
}
.trend .container > .card > .text p del {
  text-decoration: line-through #6c757d 2px;
  color: var(--gray-color);
}
.trend .container > .card .face-1 {
  background-image: url(../images/suit.jpg);
}
.trend .container > .card .back-1 {
  background-image: url(../images/tie.jpg);
  transform: rotateY(-180deg);
  z-index: -1;
}
.trend .container > .card .face-2 {
  background-image: url(../images/bag.jpg);
}
.trend .container > .card .back-2 {
  background-image: url(../images/sungalsses.jpg);
  transform: rotateY(-180deg);
  z-index: -1;
}
.trend .container > .card .face-3 {
  background-image: url(../images/jackets.jpg);
}
.trend .container > .card .back-3 {
  background-image: url(../images/shoe.jpg);
  transform: rotateY(-180deg);
  z-index: -1;
}
.trend .container > .card .face-4 {
  background-image: url(../images/watch.jpg);
}
.trend .container > .card .back-4 {
  background-image: url(../images/smart-phone.jpg);
  transform: rotateY(-180deg);
  z-index: -1;
}
/*************************************************/
.customer-testimonial {
  width: 100%;
  height: 35vh;
  background-color: #c3d2e2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-testimonial ul {
  display: flex;
}
.customer-testimonial ul li {
  display: flex;
  margin: 0 10px;
}
.customer-testimonial ul li:hover > a > i {
  color: var(--primary-color);
  opacity: 1;
}
.customer-testimonial ul li i {
  color: var(--gray-color);
  transition: var(--main-transition);
  opacity: 0.5;
  font-size: 24px;
}
.customer-testimonial > a {
  color: var(--gradiant-blue);
  transition: var(--main-transition);
}
.customer-testimonial > a:hover {
  color: var(--primary-color);
}
.customer-testimonial > a > i {
  font-size: 30px;
}
.customer-testimonial .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 60%;
  margin: 0;
}
.customer-testimonial .container h2 {
  font-family: 'Inter', serif;
  color: var(--black-color);
  font-size: 32px;
}
.customer-testimonial .container p {
  max-width: 500px;
  font-size: 20px;
  color: var(--primary-color);
}
.customer-testimonial .container > div {
  display: flex;
  width: 350px;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.customer-testimonial .container > div img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.customer-testimonial .container > div {
  text-align: left;
}
.customer-testimonial .container > div h4 {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-size: 25px;
}
.customer-testimonial .container > div p {
  color: var(--gray-color);
}
/*************************************************/
.suggestion {
  width: 100%;
  height: 65vh;
  background-color: var(--theme-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.suggestion h2 {
  font-size: 32px;
  color: var(--primary-color);
  width: 90%;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestion .grand-container {
  width: calc(90% + 60px);
  height: calc(100% - 120px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion .grand-container > a i {
  font-size: 25px;
  color: var(--secondary-color);
  transition: var(--main-transition);
}
.suggestion .grand-container > a:hover i {
  color: var(--primary-color);
}
.suggestion .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: calc(100% - 60px);
  position: relative;
}
.suggestion .container > .card {
  width: 24%;
  height: 100%;
}
.suggestion .container > .card .image {
  width: 100%;
  height: 75%;
  border-radius: var(--main-raduis) var(--main-raduis) 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.suggestion .container > .card .image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  border-radius: var(--main-raduis) var(--main-raduis) 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  transition: calc(var(--main-transition) + 0.5s);
  background-color: var(--white-shade);
}
.suggestion .container > .card:hover .image::before {
  transform: translateY(-0%);
  opacity: 1;
}
.suggestion .container > .card .image ul {
  position: absolute;
  display: flex;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #ffffff;
  width: 60%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  transition: calc(var(--main-transition) + 0.5s);
  opacity: 0;
}
.suggestion .container > .card:hover .image ul {
  transform: translate(-50%, -60px);
  opacity: 1;
}
.suggestion .container > .card:hover h3 {
  color: var(--gradiant-blue);
}
.suggestion .container > .card .image ul i {
  font-size: 25px;
  color: var(--gray-color);
  transition: var(--main-transition);
  opacity: 0.6;
}
.suggestion .container > .card .image ul li a {
  font-size: 25px;
  line-height: 50px;
}
.suggestion .container > .card .image ul li {
  width: calc(100% / 3);
  text-align: center;
}
.suggestion .container > .card .image ul li:hover {
  background-color: #e7e7e7;
}
.suggestion .container > .card .image ul li:hover a i {
  color: var(--primary-color);
  opacity: 1;
}
.suggestion .container > .card .image ul li:first-child {
  border-radius: var(--main-raduis) 0 0 var(--main-raduis);
}
.suggestion .container > .card .image ul li:last-child {
  border-radius: 0 var(--main-raduis) var(--main-raduis) 0;
}
.suggestion .text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 25%;
}
.suggestion .text h3 {
  color: var(--primary-color);
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  transition: var(--main-transition);
}
.suggestion .text p {
  text-align: center;
  font-size: 20px;
  color: #28a745;
}
.suggestion .text p del {
  color: var(--gray-color);
}
.suggestion .container > .card .image-1 {
  background-image: url(../images/blazer.png);
  background-position: bottom;
}
.suggestion .container > .card .image-1::before {
  background-image: url(../images/belt.jpg);
}
.suggestion .container > .card .image-2 {
  background-image: url(../images/peacoat.png);
}
.suggestion .container > .card .image-2::before {
  background-image: url(../images/hat-coat.jpg);
  background-position: bottom;
}
.suggestion .container > .card .image-3 {
  background-image: url(../images/boots.jpg);
}
.suggestion .container > .card .image-3::before {
  background-image: url(../images/socks.jpg);
}
.suggestion .container > .card .image-4 {
  background-image: url(../images/Hoodies.avif);
}
.suggestion .container > .card .image-4::before {
  background-image: url(../images/cap.jpg);
}
/**************************************************/
.news {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white-shade);
}
.news > h2 {
  font-size: 32px;
  color: var(--black-color);
  width: 90%;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .container {
  height: calc(100% - 120px);
  display: flex;
  justify-content: space-between;
}
.news .container > .card {
  width: 33%;
  height: 100%;
  min-width: 200px;
  overflow: hidden;
  border-radius: var(--main-raduis);
  position: relative;
  background-color: var(--white-shade);
}
.news .container > .card .image {
  border-radius: var(--main-raduis) var(--main-raduis) 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70%;
  transition: var(--main-transition);
  scale: 1;
}

.news .container > .card:hover .image {
  scale: 1.03;
}
.news .container > .card .text {
  display: flex;
  flex-flow: column;
  padding-left: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 30%;
}
.news .container > .card .text p {
  color: var(--gray-color);
  font-size: 17px;
}
.news .container > .card .text h3 {
  color: var(--primary-color);
  transition: var(--main-transition);
}
.news .container > .card .text h6 {
  width: 106px;
  text-align: center;
}
.news .container > .card .text a {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  transition: var(--main-transition);
}
.news .container > .card .text a:hover {
  color: var(--accent-color);
  letter-spacing: 1px;
}
.news .container > .card:hover h3 {
  color: var(--gradiant-blue);
}
.news .container > .card .image-1 {
  background-image: url(../images/watch-5.jpg);
}
.news .container > .card .image-2 {
  background-image: url(../images/vr.jpg);
}
.news .container > .card .image-3 {
  background-image: url(../images/vr-2.jpg);
}
/********************************************/
.adv {
  width: 100%;
  height: 25vh;
}
.adv .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adv .container .card {
  height: 80%;
  width: 24%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.adv .container .card a {
  position: relative;
  overflow: hidden;
}
.adv .container .card:hover a::after {
  transform: translateY(0px);
}
.adv .container .card:hover a::before {
  transform: translateY(-50px);
}
.adv .container .card a::after {
  font-family: 'Font Awesome 6 Free';
  position: absolute;
  font-weight: 900;
  font-size: 35px;
  color: var(--primary-color);
  left: 0;
  top: 0;
  transform: translateY(50px);
  transition: var(--main-transition);
}
.adv .container .card a::before {
  font-family: 'Font Awesome 6 Free';
  position: absolute;
  font-weight: 900;
  font-size: 35px;
  color: var(--gray-color);
  left: 0;
  top: 0;
  transform: translateY(0px);
  transition: var(--main-transition);
}
.adv .container .card a i {
  visibility: hidden;
  font-size: 35px;
}
.adv .container .card h3 {
  font-size: 22px;
  color: var(--black-color);
}
.adv .container .card p {
  color: var(--gray-color);
}
.adv .container .card-1 a::before,
.adv .container .card-1 a::after {
  content: '\e58f';
}
.adv .container .card-2 a::before,
.adv .container .card-2 a::after {
  content: '\f09d';
}
.adv .container .card-3 a::before,
.adv .container .card-3 a::after {
  content: '\f53a ';
}
.adv .container .card-4 a::before,
.adv .container .card-4 a::after {
  content: '\f4fd';
}
/**********************************************/
footer {
  width: 100%;
  height: 70vh;
  background-color: #212529;
  display: grid;
  padding: 60px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1px 3fr 1px 1fr;
  grid-template-areas:
    'text text . input input input . links'
    'hr hr hr hr hr hr hr hr'
    'logo . . . links-1 links-2 links-3 links-4  '
    'hr-2 hr-2 hr-2 hr-2 hr-2 hr-2 hr-2 hr-2'
    '. .  copy copy copy copy copy . ';
  gap: 10px;
}
footer .text {
  grid-area: text;
  color: var(--white-color);
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
}
footer .text h2 {
  text-transform: uppercase;
}
footer .text p {
  color: #c3d2e2;
}

footer .input {
  grid-area: input;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  height: fit-content;
}
footer .input input {
  flex-grow: 50;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 7px;
  padding-left: 10px;
  caret-color: var(--secondary-color);
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 400;
}
footer .input span {
  position: absolute;
  top: 50%;
  left: 100px;
  font-size: 18px;
  transform: translateY(-50%);
  z-index: 1;
  color: var(--gray-color);
  z-index: -1;
  transform: translate(-200%, -200%);
}
footer .input input:focus + span {
  z-index: 1;
  transition: var(--main-transition);
  animation-name: ringing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
footer .input input:valid + span {
  animation-name: none;
  color: #28a745 !important;
  z-index: 1;
}
footer .input input:focus::placeholder {
  opacity: 0;
  display: none;
}
@keyframes ringing {
  0%,
  30%,
  60%,
  100% {
    transform: translateX(calc(-200% - 5px)) translateY(-200%);
    color: rgba(255, 0, 0, 0.747);
  }
  1%,
  3%,
  5%,
  7%,
  9%,
  11%,
  13%,
  15%,
  17%,
  19%,
  21%,
  23%,
  25%,
  27%,
  29%,
  61%,
  63%,
  65%,
  67%,
  69%,
  71%,
  73%,
  75%,
  77%,
  79% {
    transform: translateX(calc(-200% - 5px)) translateY(-200%);
  }
  2%,
  4%,
  6%,
  8%,
  10%,
  12%,
  14%,
  16%,
  18%,
  20%,
  22%,
  24%,
  26%,
  28%,
  62%,
  64%,
  66%,
  68%,
  70%,
  72%,
  74%,
  76%,
  78%,
  80% {
    transform: translateX(calc(-200% + 5px)) translateY(-200%);
  }
}
footer .input input:focus + span::before {
  display: none;
}
footer .input input:invalid {
  color: rgb(145, 10, 10);
}
footer .input .btn {
  width: fit-content;
  padding: 0 var(--main-padding);
  background: rgb(182, 2, 2);
  transition: var(--main-transition);
}
footer .input .btn:hover {
  scale: 1.1;
}
footer .input .btn a {
  font-size: 18px;
  color: #ffff;
}
footer .links {
  grid-area: links;
}
footer .links ul {
  display: flex;
  justify-content: space-evenly;
}
footer .links ul i {
  font-size: 25px;
  color: var(--secondary-color);
  transition: var(--main-transition);
}
footer .links ul a:hover i {
  color: var(--accent-color);
}
.hr {
  grid-area: hr;
  height: 1px;
  background-color: #ffffff;
}
.hr-2 {
  grid-area: hr-2;
  height: 1px;
  background-color: #ffffff;
}
footer .logo {
  grid-area: logo;
  color: var(--accent-color);
  font-size: 50px;
  justify-self: center;
  align-self: center;
}
footer .links-1 {
  grid-area: links-1;
}
footer .links-2 {
  grid-area: links-2;
}
footer .links-3 {
  grid-area: links-3;
}
footer .links-4 {
  grid-area: links-4;
}
footer .links-G {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-evenly;
}
footer .links-G h3 {
  color: #ffffff;
  font-size: 25px;
}
footer .links-G a {
  color: #b3b1b1;
  font-size: 15px;
  transition: var(--main-transition);
}
footer .links-G a:hover {
  color: var(--accent-color);
  margin-left: 10px;
}
footer .copy {
  grid-area: copy;
  color: #b1bdc7;
}
footer .copy i {
  margin: 0 20px;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.6s;
  font-size: 26px;
}
footer .copy a {
  color: #4891cc;
  font-size: 20px;
}
@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  33% {
    transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
    color: var(--gradiant-blue);
  }
  66% {
    transform: rotateX(-180deg) rotateY(-180deg) rotateZ(0deg);
    color: var(--secondary-color);
  }
  100% {
    transform: rotateX(-180deg) rotateY(-180deg) rotateZ(-180deg);
    color: var(--accent-color);
  }
}
